@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #281712;
  color: #1A1A1A;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #3E2723;
}

::-webkit-scrollbar-thumb {
  background: #B87333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #CD7F32;
}
